# .vscode/settings.json should be considered the source of truth for formatting.
# This file exists mainly to ensure that other environments, such as Github's web-based editor, show the correct tab width.
# This file specifies the tab width using `indent_size`, as this will be used by Github but allow easier overwriting in other developers' code editors.

# http://editorconfig.org
root = true

[*]
indent_style = tab
indent_size = 4 # Can be overwritten by tab_width in most editors
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.{yml,yaml}]
indent_style = space