# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
# DATABASE_URL="mysql://root@localhost:9999/modslist?schema=public"
DATABASE_URL="mysql://root@localhost:[MySQL_Port]/modslist?schema=public"
# Set SEED_RANDOM_DATA to "true" if you want to add randomly generated data when db-reset is run.
SEED_RANDOM_DATA="false"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# For local development, you can just keyboard-smash a longish string as your secret
NEXTAUTH_SECRET=""
# URL for NextAuth's Auth endpoint. Must be full path.
NEXTAUTH_URL="http://localhost:3000/auth"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Enable/disable next/bundle-analyzer
# https://nextjs.org/docs/pages/building-your-application/optimizing/bundle-analyzer
ANALYZE_BUNDLE="false"


# Absolute path to the JSON file that contains the everest update info.
EVEREST_UPDATE_DATABASE_PATH=""
# Absolute path to the JSON file that contains the mod search database.
MOD_SEARCH_DATABASE_JSON_PATH=""


# Comma separated list of IP addresses for authorized requests to the GameBanana Mirror Update Webhook.
GAMEBANANA_MIRROR_UPDATE_WEBHOOK_IPS=""

# Comma separated list of base64 encoded public keys for authorized requests to the GameBanana Mirror Update Webhook.
GAMEBANANA_MIRROR_UPDATE_WEBHOOK_PUBLIC_KEYS=""

# Base64 encoded private key for use in development mode
GAMEBANANA_MIRROR_UPDATE_WEBHOOK_PRIVATE_KEY=""


# Base64 encoded private key for signing requests to the GameBanana Mirror storage API.
GAMEBANANA_MIRROR_STORAGE_API_PRIVATE_KEY=""

# URL for sending requests to the Cloudflare worker managing the R2 buckets for the GameBanana mirror.
GAMEBANANA_MIRROR_CLOUDFLARE_R2_WORKER_URL="https://example.com"

# Cloudflare R2 bucket names for the GameBanana mirror.
GAMEBANANA_MIRROR_CLOUDFLARE_R2_MODS_BUCKET_NAME=""
GAMEBANANA_MIRROR_CLOUDFLARE_R2_SCREENSHOTS_BUCKET_NAME=""
GAMEBANANA_MIRROR_CLOUDFLARE_R2_RICH_PRESENCE_ICONS_BUCKET_NAME=""

# Credentials with object read access to the Cloudflare R2 buckets for the GameBanana mirror.
GAMEBANANA_MIRROR_CLOUDFLARE_R2_ACCESS_KEY_ID=""
GAMEBANANA_MIRROR_CLOUDFLARE_R2_SECRET_ACCESS_KEY=""
GAMEBANANA_MIRROR_CLOUDFLARE_ACCOUNT_ID=""