html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




.mantine-Popover-dropdown.mantine-Popover-dropdown {
  padding: 0;
  border: 0;
}

/* page sizes in pagination dropdown */
.mantine-Menu-dropdown.mantine-Menu-dropdown button {
  border: 2px solid transparent;
  /* top/bottom left/right */
  padding: 8px 10px;  /* default padding is "10px 12px", but now we have 2px of border */
  text-align: center;
}


/* ModsTable tooltips */
.mantine-TooltipFloating-tooltip.mantine-TooltipFloating-tooltip {
  border: 2px solid;
  border-radius: 16px;
}


/* pagination popover background */
.beginner-menu .mantine-Menu-dropdown.mantine-Menu-dropdown {
  background-color: #16367b;  /* difficultyColors.beginner.primary.backgroundColor */
}
.beginner-menu .mantine-Menu-dropdown .mantine-Text-root {
  color: white;  /* difficultyColors.beginner.primary.textColor */
}

/* currently selected page size highlight */
.beginner-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:disabled {
  background-color: #4f942f;  /* difficultyColors.beginner.secondary.backgroundColor */
}
.beginner-menu .mantine-Menu-dropdown button:disabled .mantine-Text-root {
  color: black;  /* difficultyColors.beginner.secondary.textColor */
}

/* page size hover */
.beginner-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:hover {
  background-color: #b8fd98; /* difficultyColors.beginner.secondaryHover.backgroundColor */
  border: 2px solid;
  border-color: black; /* difficultyColors.beginner.secondaryHover.textColor */
}
.beginner-menu .mantine-Menu-dropdown button:hover .mantine-Text-root {
  color: black; /* difficultyColors.beginner.secondaryHover.textColor */
}

/* ModsTable tooltips */
.beginner-menu .mantine-TooltipFloating-tooltip.mantine-TooltipFloating-tooltip {
  background-color: #84a4e9;  /* difficultyColors.beginner.primaryHover.backgroundColor */
  color: "black";  /* difficultyColors.beginner.primaryHover.textColor */
  border-color: "black";  /* difficultyColors.beginner.primaryHover.textColor */
}


/* pagination popover background */
.intermediate-menu .mantine-Menu-dropdown.mantine-Menu-dropdown {
  background-color: #0f5881;  /* difficultyColors.intermediate.primary.backgroundColor */
}
.intermediate-menu .mantine-Menu-dropdown .mantine-Text-root {
  color: white;  /* difficultyColors.intermediate.primary.textColor */
}

/* currently selected page size highlight */
.intermediate-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:disabled {
  background-color: #89ae4a;  /* difficultyColors.intermediate.secondary.backgroundColor */
}
.intermediate-menu .mantine-Menu-dropdown button:disabled .mantine-Text-root {
  color: black;  /* difficultyColors.intermediate.secondary.textColor */
}

/* page size hover */
.intermediate-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:hover {
  background-color: #395c00;  /* difficultyColors.intermediate.secondaryHover.backgroundColor */
  border: 2px solid;
  border-color: white; /* difficultyColors.intermediate.secondaryHover.textColor */
}
.intermediate-menu .mantine-Menu-dropdown button:hover .mantine-Text-root {
  color: white;  /* difficultyColors.intermediate.secondaryHover.textColor */
}

/* ModsTable tooltips */
.intermediate-menu .mantine-TooltipFloating-tooltip.mantine-TooltipFloating-tooltip {
  background-color: #87d0f9;  /* difficultyColors.intermediate.primaryHover.backgroundColor */
  color: "black";  /* difficultyColors.intermediate.primaryHover.textColor */
  border-color: "black";  /* difficultyColors.intermediate.primaryHover.textColor */
}


/* pagination popover background */
.advanced-menu .mantine-Menu-dropdown.mantine-Menu-dropdown {
  background-color: #595667;  /* difficultyColors.advanced.primary.backgroundColor */
}
.advanced-menu .mantine-Menu-dropdown .mantine-Text-root {
  color: white;  /* difficultyColors.advanced.primary.textColor */
}

/* currently selected page size highlight */
.advanced-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:disabled {
  background-color: #9cad9f;  /* difficultyColors.advanced.secondary.backgroundColor */
}
.advanced-menu .mantine-Menu-dropdown button:disabled .mantine-Text-root {
  color: black;  /* difficultyColors.advanced.secondary.textColor */
}

/* page size hover */
.advanced-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:hover {
  background-color: #4b5c4e;  /* difficultyColors.advanced.secondaryHover.backgroundColor */
  border: 2px solid;
  border-color: white; /* difficultyColors.advanced.secondaryHover.textColor */
}
.advanced-menu .mantine-Menu-dropdown button:hover .mantine-Text-root {
  color: white;  /* difficultyColors.advanced.secondaryHover.textColor */
}

/* ModsTable tooltips */
.advanced-menu .mantine-TooltipFloating-tooltip.mantine-TooltipFloating-tooltip {
  background-color: #d1cedf;  /* difficultyColors.advanced.primaryHover.backgroundColor */
  color: "black";  /* difficultyColors.advanced.primaryHover.textColor */
  border-color: "black";  /* difficultyColors.advanced.primaryHover.textColor */
}


/* pagination popover background */
.expert-menu .mantine-Menu-dropdown.mantine-Menu-dropdown {
  background-color: #875aaa;  /* difficultyColors.expert.primary.backgroundColor */
}
.expert-menu .mantine-Menu-dropdown .mantine-Text-root {
  color: white;  /* difficultyColors.expert.primary.textColor */
}

/* currently selected page size highlight */
.expert-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:disabled {
  background-color: #e3c093;  /* difficultyColors.expert.secondary.backgroundColor */
}
.expert-menu .mantine-Menu-dropdown button:disabled .mantine-Text-root {
  color: black;  /* difficultyColors.expert.secondary.textColor */
}

/* page size hover */
.expert-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:hover {
  background-color: #896639;  /* difficultyColors.expert.secondaryHover.backgroundColor */
  border: 2px solid;
  border-color: white; /* difficultyColors.expert.secondaryHover.textColor */
}
.expert-menu .mantine-Menu-dropdown button:hover .mantine-Text-root {
  color: white;  /* difficultyColors.expert.secondaryHover.textColor */
}

/* ModsTable tooltips */
.expert-menu .mantine-TooltipFloating-tooltip.mantine-TooltipFloating-tooltip {
  background-color: #f8f0ff;  /* difficultyColors.expert.primaryHover.backgroundColor */
  color: "black";  /* difficultyColors.expert.primaryHover.textColor */
  border-color: "black";  /* difficultyColors.expert.primaryHover.textColor */
}


/* pagination popover background */
.grandmaster-menu .mantine-Menu-dropdown.mantine-Menu-dropdown {
  background-color: #4c3795;  /* difficultyColors.grandmaster.primary.backgroundColor */
}
.grandmaster-menu .mantine-Menu-dropdown .mantine-Text-root {
  color: white;  /* difficultyColors.grandmaster.primary.textColor */
}

/* currently selected page size highlight */
.grandmaster-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:disabled {
  background-color: #cc826e;  /* difficultyColors.grandmaster.secondary.backgroundColor */
}
.grandmaster-menu .mantine-Menu-dropdown button:disabled .mantine-Text-root {
  color: black;  /* difficultyColors.grandmaster.secondary.textColor */
}

/* page size hover */
.grandmaster-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:hover {
  background-color: #7c3214;  /* difficultyColors.grandmaster.secondaryHover.backgroundColor */
  border: 2px solid;
  border-color: white; /* difficultyColors.grandmaster.secondaryHover.textColor */
}
.grandmaster-menu .mantine-Menu-dropdown button:hover .mantine-Text-root {
  color: white;  /* difficultyColors.grandmaster.secondaryHover.textColor */
}

/* ModsTable tooltips */
.grandmaster-menu .mantine-TooltipFloating-tooltip.mantine-TooltipFloating-tooltip {
  background-color: #c1adff;  /* difficultyColors.grandmaster.primaryHover.backgroundColor */
  color: "black";  /* difficultyColors.grandmaster.primaryHover.textColor */
  border-color: "black";  /* difficultyColors.grandmaster.primaryHover.textColor */
}


/* pagination popover background */
.astral-menu .mantine-Menu-dropdown.mantine-Menu-dropdown {
  background-color: #4c3795;  /* difficultyColors.astral.primary.backgroundColor */
}
.astral-menu .mantine-Menu-dropdown .mantine-Text-root {
  color: white;  /* difficultyColors.astral.primary.textColor */
}

/* currently selected page size highlight */
.astral-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:disabled {
  background-color: #cc826e;  /* difficultyColors.astral.secondary.backgroundColor */
}
.astral-menu .mantine-Menu-dropdown button:disabled .mantine-Text-root {
  color: black;  /* difficultyColors.astral.secondary.textColor */
}

/* page size hover */
.astral-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:hover {
  background-color: #7c3214;  /* difficultyColors.astral.secondaryHover.backgroundColor */
  border: 2px solid;
  border-color: white; /* difficultyColors.astral.secondaryHover.textColor */
}
.astral-menu .mantine-Menu-dropdown button:hover .mantine-Text-root {
  color: white;  /* difficultyColors.astral.secondaryHover.textColor */
}

/* ModsTable tooltips */
.astral-menu .mantine-TooltipFloating-tooltip.mantine-TooltipFloating-tooltip {
  background-color: #c1adff;  /* difficultyColors.astral.primaryHover.backgroundColor */
  color: "black";  /* difficultyColors.astral.primaryHover.textColor */
  border-color: "black";  /* difficultyColors.astral.primaryHover.textColor */
}


/* pagination popover background */
.celestial-menu .mantine-Menu-dropdown.mantine-Menu-dropdown {
  background-color: #4c3795;  /* difficultyColors.celestial.primary.backgroundColor */
}
.celestial-menu .mantine-Menu-dropdown .mantine-Text-root {
  color: white;  /* difficultyColors.celestial.primary.textColor */
}

/* currently selected page size highlight */
.celestial-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:disabled {
  background-color: #cc826e;  /* difficultyColors.celestial.secondary.backgroundColor */
}
.celestial-menu .mantine-Menu-dropdown button:disabled .mantine-Text-root {
  color: black;  /* difficultyColors.celestial.secondary.textColor */
}

/* page size hover */
.celestial-menu .mantine-Menu-dropdown.mantine-Menu-dropdown button:hover {
  background-color: #7c3214;  /* difficultyColors.celestial.secondaryHover.backgroundColor */
  border: 2px solid;
  border-color: white; /* difficultyColors.celestial.secondaryHover.textColor */
}
.celestial-menu .mantine-Menu-dropdown button:hover .mantine-Text-root {
  color: white;  /* difficultyColors.celestial.secondaryHover.textColor */
}

/* ModsTable tooltips */
.celestial-menu .mantine-TooltipFloating-tooltip.mantine-TooltipFloating-tooltip {
  background-color: #c1adff;  /* difficultyColors.celestial.primaryHover.backgroundColor */
  color: "black";  /* difficultyColors.celestial.primaryHover.textColor */
  border-color: "black";  /* difficultyColors.celestial.primaryHover.textColor */
}