.page {
    padding: 0 0 0 200px;
}


.page-header {
    position: relative;

    .header__column {
        text-align: center;
        padding: 50px 0;
        height: 45px;
    }
}

.header__column-right {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}


.table,
.table__multi-column,
.table__items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.table {
    overflow-x: auto;

    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.table__header,
.table__item,
.table__multi-column__columns {
    display: flex;
}

.table__header {
    h2, h3 {
        padding: 5px 0;
    }
}

.table__item p {
    padding: 10px 0;
}

.table__item-child {
    padding: 0 5px;
}

.table__header .table__item__flex {
    padding: 0 5px;
}

.table__item__flex {
    display: flex;
    justify-content: center;
    align-items: center;

    $top-bottom-border-width: 1px;
    $side-border-width: 1px;
    border-width: $top-bottom-border-width $side-border-width;
    border-style: solid;
    border-color: black;
}


.mod-column__mod-name {
    $width: 250px;

    width: $width;
    min-width: $width;
}

.mod-column__map-count {
    $width: 70px;

    width: $width;
    min-width: $width;
}

.mod-column__mod-type {
    $width: 80px;

    width: $width;
    min-width: $width;
}

.mod-column__quality {
    $width: 100px;

    width: $width;
    min-width: $width;
}

.mod-column__community-difficulty {
    $width: 115px;

    width: $width;
    min-width: $width;
}

.mod-column__tech {
    $width: 200px;

    width: $width;
    min-width: $width;
}

.mod-column__cml-difficulty {
    $width: 140px;

    width: $width;
    min-width: $width;
}

.mod-column__reviews {
    position: relative;
    width: 100%;
    min-width: 140px;
}